body {
  background: linear-gradient(
    -45deg,
    #483d8b,
    #4a235a,
    #db7093,
    #ffe4b5,
    #f4a460,
    #6a5acd,
    #483d8b
  );
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  font-family: "Cormorant Garamond", serif;
}

.App {
  text-align: center;
  padding-bottom: 100px;
  position: relative;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.kt_transparent,
.footer {
  background-color: rgba(0, 0, 0, 0);
}

.button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.button.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.kathe_footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 30;
  padding: 15px 5px;
}

.button.is-small {
  border-radius: 3px;
  margin-left: 4px;
}

.button.is-info {
  margin-left: 5px;
}

.kathe_search_results {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
}
